@media (max-width: 1023px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }
}

/* Small screens (phones: up to 767px) */
@media (max-width: 767px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}
/* Desktop styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: transparent;
  z-index: 99;
  transition: background 0.3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav.color {
  background: #fff;
}

/* Hides close and nav menu on desktop */
.menu.close,
.nav-list ul {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-items .nav-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background:#fff;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }

  .nav-list ul.open {
    transform: scaleY(1);
  }

  .menu.toggle {
    display: block;
    cursor: pointer;
    z-index: 2;
  }

  .menu.close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .menu.close.show {
    display: block;
  }
  #home{
    padding: 150px 0;
  }
  .hero-content{
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .hero-text{
    text-align: center;
  }
  .subscribe input::placeholder{
    text-align: center;
    padding: 0;
  }
  .display-social-media ul{
   flex-direction: column;
   left: 0;
   box-shadow: 0 0 15px 0 #000;
   padding: 15px;
   display: none;

    
  }
  .display-social-media li a{
    width: unset;
    height: unset;
    background: #fefefe;
    padding: 10px;

  }
}

/* Service Content */
@media (max-width: 768px) {
  .service-content {
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: 100%;
  }

  .service-content h1 {
    text-align: center;
  }

  .service-content.work h1 {
    text-align: center;
  }

  .service-content p {
    text-align: center;
  }

  .service-content.work {
    display: flex;
    flex-direction: column;
  }

  .service-content.work {
    flex-direction: column-reverse;
  }

  .service-content.work p::after,
  .service-content p::before {
    background: transparent;
  }
}

/* Tesimonial */

/* Mobile Responsive */
@media (max-width: 767px) {
  .carousel-caption {
    padding: 3rem 2rem;
    font-size: 0.7rem;
    line-height: 1.5rem;
  }

  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem;
  }

  #image-caption {
    font-size: 0.6rem;
  }
  footer .footer-logo p {
  padding-left: 0px;
}
}
